.reveal .progress,
.reveal .controls {
    color: #0ad560
}

.reveal .plain-img {
    border:0;
    width: 10%;
    height: auto;
    background: none;
    box-shadow: none;
}

.reveal .h-container * {
    margin: 30px;
}


.reveal .h-container.bem h5,
.reveal .bem p,
.reveal .h-container.bem p{
    font-size: .5em;
    margin-bottom: 1.5em
}
.reveal .h-container.bem p {
    opacity: .7
}

.reveal .h-container.bem .example {
    opacity: .4
}
.reveal .h-container.bem {
    align-items: flex-start;
    justify-content: flex-start;
}
.reveal .h-container.bem * {

    margin: 5px;
}

.reveal .h-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.reveal .academy-header img {
    margin-left: 10px
}
.reveal .academy-header {
    height: 3%;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    /*justify-content: flex-end;*/
}

.reveal pre {
    margin: 0 auto;
    font-size: .3em;
}

/*.reveal pre code {*/
    /*height: 45vh;*/
    /*max-height: none;*/
/*}*/

.reveal .only-striked-out {
    color: rgba(255,255,255,.3)
}

.reveal .only-striked-out del {
    color: white
}

.dc-logo {
    position: absolute;
    opacity: .4;
    bottom: 20px;
    left: 20px;
    width: 100px;
}


.reveal pre + pre {
    margin-top: 20px
}

.reveal .side-by-side pre {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.reveal .side-by-side pre + pre {
    margin-top: 0
}
